/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #01579b;
  --ifm-color-primary-dark: #014e8b;
  --ifm-color-primary-darker: #014a84;
  --ifm-color-primary-darkest: #013d6d;
  --ifm-color-primary-light: #0160ab;
  --ifm-color-primary-lighter: #0164b2;
  --ifm-color-primary-lightest: #0171ca;
  --ifm-code-font-size: 95%;
  --ifm-navbar-link-color: var(--ifm-color-secondary);
  --ifm-navbar-link-hover-color: var(--ifm-color-secondary-lightest);
  --ifm-heading-color: var(--ifm-color-primary-darker);
  --ifm-font-size-base: 16px;
  --ifm-list-left-padding: 1.25rem;
  --ifm-navbar-link-hover-color: rgb(255, 255, 255);
  --ifm-navbar-link-color: rgb(255, 255, 255, 0.8);
}

ol > li::marker {
  font-weight: bold;
}

.menu__link--sublist::after {
  background-size: 1.25rem 1.25rem;
}

.features_src-pages- a {
  text-decoration: underline;
}

.header-icon-link {
  padding: 8px;
  opacity: 0.8;
}

.header-icon-link:hover {
  opacity: 1;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20width%3D%2224%22%20height%3D%2224%22%20style%3D%22-ms-transform%3A%20rotate%28360deg%29%3B%20-webkit-transform%3A%20rotate%28360deg%29%3B%20transform%3A%20rotate%28360deg%29%3B%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20d%3D%22M511.6%2076.3C264.3%2076.2%2064%20276.4%2064%20523.5C64%20718.9%20189.3%20885%20363.8%20946c23.5%205.9%2019.9-10.8%2019.9-22.2v-77.5c-135.7%2015.9-141.2-73.9-150.3-88.9C215%20726%20171.5%20718%20184.5%20703c30.9-15.9%2062.4%204%2098.9%2057.9c26.4%2039.1%2077.9%2032.5%20104%2026c5.7-23.5%2017.9-44.5%2034.7-60.8c-140.6-25.2-199.2-111-199.2-213c0-49.5%2016.3-95%2048.3-131.7c-20.4-60.5%201.9-112.3%204.9-120c58.1-5.2%20118.5%2041.6%20123.2%2045.3c33-8.9%2070.7-13.6%20112.9-13.6c42.4%200%2080.2%204.9%20113.5%2013.9c11.3-8.6%2067.3-48.8%20121.3-43.9c2.9%207.7%2024.7%2058.3%205.5%20118c32.4%2036.8%2048.9%2082.7%2048.9%20132.3c0%20102.2-59%20188.1-200%20212.9a127.5%20127.5%200%200%201%2038.1%2091v112.5c.8%209%200%2017.9%2015%2017.9c177.1-59.7%20304.6-227%20304.6-424.1c0-247.2-200.4-447.3-447.5-447.3z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E")
    no-repeat;
}

.header-slack-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20width%3D%2224%22%20height%3D%2224%22%20style%3D%22-ms-transform%3A%20rotate%28360deg%29%3B%20-webkit-transform%3A%20rotate%28360deg%29%3B%20transform%3A%20rotate%28360deg%29%3B%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M409.4%20128c-42.4%200-76.7%2034.4-76.7%2076.8c0%2020.3%208.1%2039.9%2022.4%2054.3c14.4%2014.4%2033.9%2022.5%2054.3%2022.5h76.7v-76.8c0-42.3-34.3-76.7-76.7-76.8zm0%20204.8H204.7c-42.4%200-76.7%2034.4-76.7%2076.8s34.4%2076.8%2076.7%2076.8h204.6c42.4%200%2076.7-34.4%2076.7-76.8c.1-42.4-34.3-76.8-76.6-76.8zM614%20486.4c42.4%200%2076.8-34.4%2076.7-76.8V204.8c0-42.4-34.3-76.8-76.7-76.8c-42.4%200-76.7%2034.4-76.7%2076.8v204.8c0%2042.5%2034.3%2076.8%2076.7%2076.8zm281.4-76.8c0-42.4-34.4-76.8-76.7-76.8S742%20367.2%20742%20409.6v76.8h76.7c42.3%200%2076.7-34.4%2076.7-76.8zm-76.8%20128H614c-42.4%200-76.7%2034.4-76.7%2076.8c0%2020.3%208.1%2039.9%2022.4%2054.3c14.4%2014.4%2033.9%2022.5%2054.3%2022.5h204.6c42.4%200%2076.7-34.4%2076.7-76.8c.1-42.4-34.3-76.7-76.7-76.8zM614%20742.4h-76.7v76.8c0%2042.4%2034.4%2076.8%2076.7%2076.8c42.4%200%2076.8-34.4%2076.7-76.8c.1-42.4-34.3-76.7-76.7-76.8zM409.4%20537.6c-42.4%200-76.7%2034.4-76.7%2076.8v204.8c0%2042.4%2034.4%2076.8%2076.7%2076.8c42.4%200%2076.8-34.4%2076.7-76.8V614.4c0-20.3-8.1-39.9-22.4-54.3c-14.4-14.4-34-22.5-54.3-22.5zM128%20614.4c0%2020.3%208.1%2039.9%2022.4%2054.3c14.4%2014.4%2033.9%2022.5%2054.3%2022.5c42.4%200%2076.8-34.4%2076.7-76.8v-76.8h-76.7c-42.3%200-76.7%2034.4-76.7%2076.8z%22%2F%3E%3C%2Fsvg%3E")
    no-repeat;
}

.header-community-label {
  padding-right: 0.2rem;
}

.button--primary {
  background-color: #ff9100;
  border-color: #ff9100;
  color: #fff;
}

.button--primary.button--outline {
  background-color: transparent;
  border-color: #ff9100;
  color: #ff9100;
}

.hero__name {
  color: var(--ifm-font-base-color-inverse);
  font-size: 3rem;
}

.hero__title {
  color: var(--ifm-font-base-color-inverse);
  font-size: 2rem;
}

.hero__video {
  margin-top: 2rem;
}

.navbar--light {
  background-color: var(--ifm-color-primary);
  box-shadow: none;
  color: var(--ifm-color-secondary);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.button.button--secondary.button--outline:not(.button--active):not(:hover) {
  color: var(--ifm-color-secondary);
}

.ml-1 {
  margin-left: 10px;
}

/* Admonition overrides */

.admonition {
  margin-bottom: 1em;
  padding: 15px 30px 15px 15px;
}

.admonition h5 {
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.admonition-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2em;
}

.admonition-icon svg {
  display: inline-block;
  width: 22px;
  height: 22px;
  stroke-width: 0;
}

.admonition-content > :last-child {
  margin-bottom: 0;
}

/* default for custom types */
.admonition {
  background-color: rgba(118, 51, 219, 0.1);
  border-left: 8px solid #7633db;
}

.admonition a {
  color: var(--ifm-link-color);
}

.admonition h5 {
  color: #7633db;
}

.admonition .admonition-icon svg {
  stroke: #7633db;
  fill: #7633db;
}

/** native types */
.admonition-caution {
  background-color: rgba(230, 126, 34, 0.1);
  border-left: 8px solid;
  border-color: var(--ifm-color-caution);
  color: var(--ra-color-text-dark);
}

.admonition-caution h5 {
  color: #e67e22;
}

.admonition-caution .admonition-icon svg {
  stroke: #e67e22;
  fill: #e67e22;
}

.admonition-tip {
  background-color: rgba(46, 204, 113, 0.1);
  border-left: 8px solid;
  border-color: var(--ifm-color-success);
  color: var(--ra-color-text-dark);
}

.admonition-tip h5 {
  color: #2ecc71;
}

.admonition-tip .admonition-icon svg {
  stroke: #2ecc71;
  fill: #2ecc71;
}

.admonition-warning {
  background-color: rgba(231, 76, 60, 0.1);
  border-left: 8px solid #e74c3c;
  color: var(--ra-color-text-dark);
}

.admonition-warning h5 {
  color: #e74c3c;
}

.admonition-warning .admonition-icon svg {
  stroke: #e74c3c;
  fill: #e74c3c;
}

.admonition-important {
  background-color: rgba(52, 152, 219, 0.1);
  border-left: 8px solid #3498db;
  color: var(--ra-color-text-dark);
}

.admonition-important h5 {
  color: #3498db;
}

.admonition-important .admonition-icon svg {
  stroke: #3498db;
  fill: #3498db;
}

.admonition-note {
  background-color: rgba(241, 196, 15, 0.1);
  border-left: 8px solid;
  border-color:  #f1c40f;
}

.admonition-note h5 {
  color: #f1c40f;
}

.admonition-note .admonition-icon svg {
  stroke: #f1c40f;
  fill: #f1c40f;
}

.admonition-info {
  background-color: transparent;
  border-left: 8px solid;
  border-color: var(--ifm-toc-border-color);
  color: var(--ra-color-text-dark);
}

.admonition-info h5 {
  color: var(--ifm-toc-border-color);
}

.admonition-info .admonition-icon svg {
  stroke: var(--ifm-toc-border-color);
  fill: var(--ifm-toc-border-color);
}

.integrations.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.integrations .grid-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 160px;
  margin: 10px;
  padding: 15px 10px 0 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  min-height: 120px;
}

p > img {
  border: 1px solid #eee;
  border-radius: 6px;
  margin: 10px 0 5px 0;
  padding: 1px;
}

.integrations .grid-item img {
  width: 40px;
  height: 40px;
}

ol {
  list-style: none;
  counter-reset: li;
  padding-left: 1.75em;
}

ol > li {
  position: relative;
}

ol > li::before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  line-height: 26px;
  left: -26px;
  height: 26px;
  width: 26px;
  color: var(--ifm-heading-color);
  font-size: 18px;
  font-weight: bold;
}

/* Remove version badge */
article > div > span.badge--secondary {
  display: none;
}